@page "/CreatePost"
@using Domain.DTOs
@using Domain.Models
@using HttpClients.ClientInterfaces
@using System.Security.Claims
@inject IPostService postService;
@inject IUserService userService;
@inject NavigationManager navMgr;

<AuthorizeView>
    <Authorized>
        <div class="card">
            @if (users == null)
            {
                <label>Loading users...</label>
            }
            else if (!users.Any())
            {
                <label>No users, you cannot create a Todo without assignee.</label>
            }
            else
            {
                <h3>Create Todo</h3>
                <div class="form-group field">
                    <label>Title:</label>
                    <input type="text" @bind="postTitle"/>
                    <label>Body:</label>
                    <textarea @bind="postBody"/>
                </div>
                <div class="button-row">
                    @if (!string.IsNullOrEmpty(msg))
                    {
                        <label style="color: red">@msg</label>
                    }
                    <button @onclick="Create" class="acceptbtn">Create</button>
                </div>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <h2>You need to log-in to create a post</h2>
    </NotAuthorized>
</AuthorizeView>

@code {
    private IEnumerable<User>? users;
    private int? selectedUserId;
    private string postTitle = "";
    private string postBody = "";
    private string loggedUsername = "";

    private string msg = "";
    
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            AuthenticationState authState = await AuthState;
            ClaimsPrincipal user = authState.User;
            loggedUsername = user.Identity!.Name!;

            users = await userService.GetUsersAsync(null);
            User? currentUser =  users.FirstOrDefault(u => u.username.Equals(loggedUsername));
            selectedUserId = currentUser.id;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    private async Task Create()
    {
        msg = "";
        
        if (string.IsNullOrEmpty(postTitle))
        {
            msg = "Title cannot be empty!";
            return;
        }
        if (string.IsNullOrEmpty(postBody))
        {
            msg = "The body cannot be empty!";
        }

        try
        {
            PostCreationDTO dto = new((int)selectedUserId, postTitle, postBody);
            await postService.CreateAsync(dto);
            navMgr.NavigateTo($"/ViewPosts");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }


}